<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TabBarControllerPractice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C6260F42064428C000F2DB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C62610B2064428C000F2DB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C6261162064428C000F2DB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
